<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header text-white bg-success mb-3">
          TODO APP
        </div>
        <form class="form-horizontal">

          <div class="card-body">

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="task">Add Task</label>
              <div class="col-md-8">
                <input type="text" class="form-control">
                <div class="invalid-feedback">
                </div>
              </div>
              <div class="col-md-2">
                <button class="btn btn-success" type="submit">Save</button>
              </div>
            </div>

            <div class="row mb-3">

              <div class="table table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr class="table-dark text-center">
                      <th>Task</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                      <td>itot</td>
                      <td>
                        <button class="btn btn-primary">Edit</button>
                        &nbsp;
                        <button class="btn btn-danger">Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

          </div>

          <div class="card-footer">
            <div class="d-grid gap-2 d-md-block">
              All Right Reserved 2021
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
